{% extends "base.html" %}

{% block page_title %}MAPS Support Webform{% endblock %}

{% load questionaire_tags %}
{% block content %}
<script type="text/javascript">

    function show_fields(){
        var identity = $("input:radio[name='identity']:checked").val();
        var who_fill_form = $("input:radio[name='on_behalf_of_student']:checked").val();
        var contact_who = $("input:radio[name='contact_who']:checked").val();
        var unst_course = $("input:radio[name='UNST_course']:checked").val();

        if (identity == "ST") {
            // Show student view: Name of mentor, university study, concern
            $("#id_hidden_mentor_name").show()
            $("#id_hidden_university_studies").show()
            $("#id_hidden_concern").show()
            $("#id_hidden_meeting").show()

            // Hide other parts
            $("#id_hidden_student_name").hide()
            $("#id_hidden_who_fill_form").hide()
            $("#id_hidden_contact_who").hide()
            $("#id_hidden_type_of_course").hide()

            if (unst_course == 'SINQ') {
                $("#id_hidden_type_of_course").show()
            }
            else {
                $("#id_hidden_type_of_course").hide()
            }
        }

        else if (identity == "MT") {
            if (who_fill_form) {
                if (who_fill_form == 'Y') {
                    // Show mentor view to fill student problem: name of student, university study, concern
                    $("#id_hidden_student_name").show()
                    $("#id_hidden_university_studies").show()
                    $("#id_hidden_concern").show()
                    $("#id_hidden_who_fill_form").show()
                    $("#id_hidden_contact_who").show()

                    // Hide other parts
                    $("#id_hidden_mentor_name").hide()
                    $("#id_hidden_type_of_course").hide()

                    if (unst_course == 'SINQ') {
                        $("#id_hidden_type_of_course").show()
                    }
                    else {
                        $("#id_hidden_type_of_course").hide()
                    }
                }

                else if(who_fill_form == "N") {
                    // Show mentor view to fill mentor problem
                    $("#id_hidden_concern").show()
                    $("#id_hidden_who_fill_form").show()
                    $("#id_hidden_meeting").show()

                    // Hide other parts
                    $("#id_hidden_student_name").hide()
                    $("#id_hidden_mentor_name").hide()
                    $("#id_hidden_university_studies").hide()
                    $("#id_hidden_contact_who").hide()
                }
            }
            else {
                // Show mentor view: Ask if it is mentor's problem or student's problem
                $("#id_hidden_who_fill_form").show()

                // Hide other parts
                $("#id_hidden_student_name").hide()
                $("#id_hidden_mentor_name").hide()
                $("#id_hidden_university_studies").hide()
                $("#id_hidden_concern").hide()
                $("#id_hidden_contact_who").hide()
            }

        }

        else {
            $("#id_hidden_who_fill_form").hide()
            $("#id_hidden_student_name").hide()
            $("#id_hidden_mentor_name").hide()
            $("#id_hidden_university_studies").hide()
            $("#id_hidden_concern").hide()
            $("#id_hidden_contact_who").hide()
        }
    }

    $(function() {
        $("#id_follow_up_appointment").datepicker({
            onRender: function(date) {
                var nowTemp = new Date();
                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        });
        show_fields();
        $("input:radio").click(show_fields);

        $("#id_follow_up_phone_0").autotab({ format: 'number', target: '#id_follow_up_phone_1'});
        $("#id_follow_up_phone_1").autotab({ format: 'number', target: '#id_follow_up_phone_2', previous: '#id_follow_up_phone_0'});
        $("#id_follow_up_phone_2").autotab({ format: 'number', previous: '#id_follow_up_phone_1'});

    });
</script>

    <h2 class="text-center">MAPS Support Webform</h2>
    {% if form.errors %}
        <div class="row alert alert-danger">
            <strong>Errors detected:</strong> Please correct them before you can continue.
        </div>
    {% endif %}

    <form role="form" method="post" class="form-horizontal">
        {% csrf_token %}

        <!-- Name -->
        <legend>General Information</legend>
        {% include "_field.html" with field=form.name %}
        {% include "_field.html" with field=form.student_ID %}
        {% include "_field.html" with field=form.identity %}

        <!-- PART 2: Mentor fill out the form about student/mentor problem -->
        {% include "_field.html" with field=form.on_behalf_of_student id="id_hidden_who_fill_form" %}

        <!-- PART 3: Student/Mentor name -->
        {% include "_field.html" with field=form.student_name id="id_hidden_student_name" %}

         <!-- Mentor name field -->
        {% include "_field.html" with field=form.mentor_name id="id_hidden_mentor_name" force_required=1 %}

        <!-- PART 4: University Studies information if you are student -->
        <div id="id_hidden_university_studies" >
            <legend>University Studies</legend>
            {% include "_field.html" with field=form.UNST_course force_required=1 %}
            {% include "_field.html" with field=form.type_of_course id="id_hidden_type_of_course" %}
        </div>

        <!-- HIDDEN PARTS -->
        <div id="id_hidden_concern">
            <legend>Primary Concerns</legend>
            <!-- Primary concernt field -->
            <div class="form-group row {% if form.primary_concern.errors %}has-error{% endif %}">
                <label class="control-label col-sm-4">
                    <span style="color: red; ">*</span>
                    {{ form.primary_concern.label }}
                </label>
                <div class="col-sm-4">
                    {{ form.primary_concern}}
                    <div class="form-inline" style="margin-top: -10px; padding-left: 40px">
                        <label >
                            {{ form.primary_concern_other.label }}
                        </label>
                        {{ form.primary_concern_other }}
                    </div>
                </div>
                <div class="col-sm-4 text-danger">
                    {{ form.primary_concern.errors }}
                </div>
            </div>

            {% include "_field.html" with field=form.primary_concern_details %}
            {% include "_field.html" with field=form.step_taken %}
            {% include "_field.html" with field=form.when_take_step %}
            {% include "_field.html" with field=form.support_from_MAPS %}

            <!-- Follow up method field -->
            <legend>Follow-up Method</legend>
            {% include "_field.html" with field=form.contact_who id="id_hidden_contact_who" %}

            <div class="form-group row {% if form.follow_up_email.errors or form.follow_up_phone.errors %}has-error{% endif %}">
                <div class="col-sm-4">
                    <label class="control-label">
                        <span style="color: red">*</span> How would you like us to respond? (Fill at least ONE method):
                    </label>
                </div>

                <div class="col-sm-4">
                    <!-- Via email -->
                    <div class="input-group">
                        <span class="input-group-addon">Email</span> {{ form.follow_up_email }}
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Phone number</span>{{ form.follow_up_phone }}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="text-danger">
                        {{ form.follow_up_email.errors }}
                        {{ form.follow_up_phone.errors }}
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <div class="form-group text-center">
                <input class="btn btn-lg btn-primary" type="submit" name="submit" value="Submit" />
            </div>
        </div>
        <!-- END OF HIDDEN PART -->
    </form>

{% endblock %}
