django<1.8
pymysql
-e git://github.com/PSU-OIT-ARC/djangocas.git#egg=djangocas
pytz
python3-ldap<0.9.6 # the higher versions don't install correctly
-e git://github.com/PSU-OIT-ARC/django-perms.git#egg=django-perms
-e git://github.com/PSU-OIT-ARC/django-arcutils.git#egg=django-arcutils
